<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Modules -->
    <script type="text/javascript" src="/modules/message/message.js"></script>
    <link rel='stylesheet' href='/modules/message/message.css' />

    <!-- Style Sheets -->
    <link rel='stylesheet' href='/stylesheets/general.css' />
    <link rel='stylesheet' href='/stylesheets/userspage.css' />

    <!-- Jquery -->
    <script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>

    <!-- Javascript -->
    <script type="text/javascript">
      $(document).ready(function(){
        var msgs = <%- JSON.stringify(messages) %>;
        var MsgModule = MessageModule();
        MsgModule.addDisplayMessages(msgs, '.TweetsContainer');
      });
    </script>

  </head>
  <body>
    <!-- Navigation Links -->
    <div><a href="/home"> Go to home page </a></div>
    <div><a href="/signup">Want to sign up? </a></div>
    <div><a href="/login">Want to login? </a></div>
    <form action="/logout" method="post">
      <span onclick="parentNode.submit()">Logout? </span>
    </form>
    
    <!-- Title -->
    <h1 class="thinTitle"><%= title %></h1>

    <!-- Box of Fritter Users -->
    <div class="FritterUsersContainer">
      <h3 class="FritterUserTitle"> Current fritters </h3>
      <div class="FritterUsers">
        <% for(var i = 0; i < individuals.length; i++){ %>
        	<div class="FritterUser">
        		@<%= individuals[i].username %>
        	</div>
        <%}%>
      </div>
    </div>

    <!-- Box of current Tweets -->
    <div class="TweetsContainer"></div>

  </body>
</html>
