<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Jquery -->
    <script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>

    <!-- Style Sheets -->
    <link rel='stylesheet' href='/stylesheets/general.css' />
    <link rel='stylesheet' href='/stylesheets/errorpage.css' />

  </head>
  <body>
    <h1 class="title"><%= title %></h1>
    <div class="message"><%= message %></div>

    <div class="FritterBack">
        <div>See more of </div>
        <a href="/home"><div class="FritterTitle">Fritter</div></a>
    </div>
  </body>
</html>
