<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- Modules -->
    <script type="text/javascript" src="modules/signup-login/signup-login.js"> </script>
    <link rel='stylesheet' href='/modules/signup-login/signup-login.css' />

    <!-- Style Sheets -->
    <link rel='stylesheet' href='/stylesheets/general.css' />
    <link rel='stylesheet' href='/stylesheets/landingpage.css' />
    
    <!-- Jquery -->
    <script type="text/javascript" src="javascripts/jquery-2.1.1.min.js"></script>

    <!-- Javascript -->
    <script type="text/javascript">
    	$(document).ready(function(){
            
            // If there is an error, display it
    		<%if (locals.error) {%>
    			var someerror = "<%= error %>";
	            $('#body').append(SignupLoginWidget('signup', someerror, true));	

            // Just show normal login widget
	        <% } else { %>
	        	$('#body').append(SignupLoginWidget('signup', null, true));	
	        <% } %>	
		});
    </script>
  </head>
  <body id="body">
    <h1 id="title"><%= title %></h1>
  </body>
</html>
