<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Modules -->
    <link rel='stylesheet' href='/modules/signup-login/signup-login.css' />
    <script type="text/javascript" src="modules/signup-login/signup-login.js"> </script>  

    <!-- Style Sheets -->
    <link rel='stylesheet' href='/stylesheets/general.css' />
    <link rel='stylesheet' href='/stylesheets/loginpage.css' />  

    <!-- Jquery -->
    <script type="text/javascript" src="javascripts/jquery-2.1.1.min.js"></script>

    <!-- Javascript -->
    <script type="text/javascript">
      $(document).ready(function(){
        <%if (locals.error) {%>
          var someerror = "<%= error %>";
            $('#body').append(SignupLoginWidget('authenticate', someerror, false)); 
          <% } else { %>
            $('#body').append(SignupLoginWidget('authenticate', null, false));  
          <% } %> 
    });
    </script>
  </head>
  <body id="body">
    <h1 id="title"><%= title %></h1>
  </body>
</html>
