body {
	background-color: #f2f2f2;
}

/* Overwrite */
.g-fritteruserscontainer {
	position: fixed;
	display: inline-block;
	vertical-align: top;
	right: 10px;
}

.TweetsContainer {
	position:relative;
	width: 550px;
	cursor: pointer;
	margin: 0 auto;
	vertical-align: top;
}
