body {
	text-align: center;
	font-weight: 300;
}

.title {
	font-weight: 300;
	margin-top: 50px;
}

.FritterBack {
	display: block;
	margin-top:80px;
	background-color: white;
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.FritterBack a {
	text-decoration: none;
}

.FritterTitle {
	font-size: 30pt;
	color: rgb(134, 17, 45);
}

.FritterTitle:hover{
	color: gray;
}



