body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  margin: 0;
}

.thinTitle{
	font-weight:300;
	text-align:center;
}

.g-nav-link {
	padding: 0;
	margin: 5px;
}
.g-nav-link:hover{
	border-bottom: 2px solid rgb(158, 153, 153);
}

.g-unbutton {
	border: 0;
	background-color: transparent;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 11pt;
	outline: none;
	cursor: pointer;
}

.g-redbutton {
	padding: 10px 10px;
	border: none;
	background-image: linear-gradient(#e63d45, #c11a22);
	border-radius: 3px;
	border: 1px solid #B63137;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	color: white;
	cursor: pointer;
}

.g-blackbutton {
	padding: 10px 10px;
	border: none;
	background-image: linear-gradient(#535353, #1f1f1f);
	border-radius: 3px;
	border: 1px solid #575757;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	color: white;
	cursor: pointer;
}


/* Logout stles */
.logout {
	margin-top: 10px;
	cursor: pointer;
	font-weight: 300;
	display: inline-block;
}

.logout:hover{
	border-bottom: 1px solid black;
}


/* Username linking to page styls */
.g-userlink {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.g-userlink:hover {
	color: rgb(134, 17, 45);
	font-weight: bold;
}

.g-username {
	cursor: pointer;

}


/* Fritter Username Box styles */
.g-fritteruserscontainer {
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.22);
	height: 300px;
	width: 130px;
	border-radius: 6px;
	overflow: hidden;
	text-align: center;
	/*background-color: rgb(134, 17, 45);*/
	background-color: rgb(189, 51, 51);
	z-index: 10;
}

.g-fritterusertitle{
	font-weight: 300;
	color: white;
	font-size: 13pt;
}

.g-fritterusers {
	background-color: white;
	overflow-y: scroll;
	height: 233px;
	width: 100%;
	width: calc(100% + 10px);
	padding: 5px;
	margin-left: -5px;
}

/* Nav bar styles */
.g-navbar {
	display: block;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: white;
	position: fixed;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	padding: 0 5px;
	box-sizing: border-box;
}

.g-nav {
	display: inline-block;
	line-height: 50px;

}

.g-nav-log{
	float: right;
	margin-left: 5px;
}

.g-nav-place {
	float: left;
}

.g-nav-home {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.g-nav-dashboard {
	position: absolute;
	bottom: 0px;
	left: 50px;
}

.g-content {
	margin-top: 80px;
}

