
.messageBox {
	width: 550px;
}

.message {
	padding: 5px;
	position: relative;
	border-radius:6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    margin: 5px;
}

.message:hover{
	background-color: yellow;
}


.message_user{
	font-weight: bold;
}

.message_message {
	margin-right: 100px;
	overflow: hidden;
	font-size: 11pt;
}

.message_time {
	position:absolute;
	right: 5px;
	top: 5px;
}

.edit {
	position:absolute;
	right: 5px;
	bottom: 5px;
	width:16px;
	height:16px;
	border-radius: 8px;
	background-color: rgb(134, 17, 45);
}

.edit:hover{
	background-color: black;
}